pivot.ipynb
merge-pivot.ipynb
datasetcsv.ipynb
day_01_matplotlib.ipynb
day01-seaborn.ipynb
logistic.ipynb
train.csv
metric.ipynb
crossval-tuning.ipynb
scaler-ohe-pipeline.ipynb
flaskbug.py
K-means.ipynb
elbow.ipynb
PCA.ipynb
day-01-pytorch.ipynb